.navbar-brand {
  
}




.background-img {
  background-image: url(beer-background-2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 75vh;
  flex-direction: column;
  text-align: center;
  padding-right: 50vw;
}
.background-img {
  font-weight: normal;
}
